{% load qr_code %}
{% load static %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }

    #uni_modal .modal-sub-footer {
        display: flex;
    }

    #card-qr,
    #card-avatar {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        border: 4px solid #fff;
    }

    /* .id-card-1 {
        width: 3in;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .id-card-1 {
        width: 3in;
        height: auto;  /* Allow height to adjust based on content */
        border: 2px solid var(--bs-dark);
        padding: 1rem;  /* Adjust padding as needed */
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .id-card-1 img.flag {
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        height: auto;
    }

    .id-card-1 img.logo-left,
    .id-card-1 img.logo-right {
        position: absolute;
        top: 10px;
        width: 70px;
        height: auto;
    }

    .id-card-1 img.logo-left {
        left: 10px;
    }

    .id-card-1 img.logo-right {
        right: 10px;
    }

    #card-avatar {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        margin-top: -82px;
    }

    #card-qr {
        width: 54px;
        height: 54px;
        margin-top: -0.14in;
        margin-left: 0.3in;
    }

    .id-card {
        width: 5.15in;
        height: 41vh;
        border: 2px solid var(--bs-dark);
        padding: 2rem 0;
        position: relative;
        border-radius: 4px;

    }

    .id-card-2 .overlay {
        background: transparent; /* Adjust as needed */
    }

    .id-card-2 img.flag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        opacity: 0.1; /* Adjust the overall opacity as needed */
    }

    .member-avatar-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0rem 0 0 -3rem;
    }

    .ul {
        margin-right: 2.2rem;
        list-style: none;
    }

    span {
        margin-right: 2rem;
    }

    .list-item {
        margin-right: 3rem;
        line-height: 1.35;
        font-weight: bold;
    }

     .list-item span {
        white-space: nowrap;  
    }
    
    .member-id-card {
        flex-direction: column; 
    }

    .list-item {
        margin-right: 3rem;
        white-space: nowrap; 
    }

    .splm-title {
        font-weight: bold;
        font-style: italic;
        margin-top: 2rem;
        text-align: center;
    }
    .splm-membership-card {
        font-weight: bold;
        font-style: italic;
        background: red;
        width: 100%;
        text-align: center;
        padding: 0.1rem;
    }

    .card-qr {
    margin: -3rem 12px -15px 21rem;
    }

    .box {
        background: #000;
        width: 100%;
        height: 5rem;

    }

    .dl {
        padding: 0 0 0 .9rem;
        margin-bottom: .25in;
    }

    dt {
        margin-right: .15in;
    }

    @media print {
        #uni_modal .modal-footer,
        #uni_modal .modal-sub-footer {
            display: none;
        }
    }
</style>

<div class="container-fluid" id="id-card">
    <div class="d-flex mb-3">
        <div class="px-2">
            <div class="id-card-1 id-card">
                <div class="overlay"></div>
                <img src="{% static 'assets/default/img/flag.jpg' %}" class="flag" alt="Flag">
                <img src="{% static 'assets/default/img/logo.jpg' %}" class="logo-left" alt="Left Logo">
                <img src="{% static 'assets/default/img/logo.jpg' %}" class="logo-right" alt="Right Logo">
                
                <div class="splm-title">SUDAN PEOPLE'S LIBERATION MOVEMENT</div>
                <div class="splm-membership-card">SPLM MEMBERSHIP CARD</div>
                <div class="d-flex member-id-card">
    <div class="d-flex member-avatar-info">
        <ul class="ul lh-1">
            <div class="d-flex list-item">
                <span>Name:</span>
                <li class="text-center fw-bold">{{ employee.name }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Gender:</span>
                <li class="text-center fw-bold">{{ employee.gender }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Profession:</span>
                <li class="text-center fw-bold">{{ employee.profession }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Date Of Birth:</span>
                <li class="text-center fw-bold">{{ employee.date_of_birth }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Date Of Joining SPLM: </span>
                <li class="text-center fw-bold">{{ employee.date_of_joining_splm }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Date of Issue: </span>
                <li class="text-center fw-bold">{{ employee.date_of_issue }}</li>
            </div>
            <div class="d-flex list-item">
                <span>Date of Expiry: </span>
                <li class="text-center fw-bold">{{ employee.expiry_date }}</li>
            </div>
        </ul>
        <div class="d-flex w-100 justify-content-center my-4">
            <img src="{% if employee.avatar %}{{ employee.avatar.url }}{% endif %}" id="card-avatar" class="img-thumbnail" alt="">
        </div>
    </div>
</div>

                    <div class="lh-1 card-qr text-center">
                        <img src="{% qr_url_from_text employee.employee_code size=5 version=1 image_format='png' %}" id="card-qr" alt="">
                        <!-- <div class="text-center"><b>{{employee.employee_code}}</b></div> -->
                    </div>
            </div>
        </div>
        <div class="px-2">
            <div class="id-card-2 id-card">
                <div class="overlay"></div>
                <img src="{% static 'assets/default/img/flag.jpg' %}" class="flag" alt="Flag">
                <div class="lh-1">
                    <dl class="dl"> 
                        <div class="d-flex fw-bold">
                            <dt class="mb-3">State: </dt>
                            <dd>{{employee.state}}</dd>
                        </div>
                        <div class="d-flex fw-bold">
                            <dt class="mb-3">County: </dt>
                            <dd>{{employee.county}}</dd>
                        </div>
                        <div class="d-flex fw-bold">
                            <dt class="mb-3">Payam: </dt>
                            <dd>{{employee.payam}}</dd>
                        </div>
                        <div class="d-flex fw-bold">
                            <dt class="mb-3">Boma: </dt>
                            <dd>{{employee.boma}}</dd>
                        </div>
                    </dl>

                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<noscript id="qr-style">
<style>
    * {
        font-size: 12px;
    }
    * small {
        font-size: 10px;
    }
    .id-card {
        width: 2.11in;
        height: 1in;
        border: 2px solid var(--bs-dark);
        padding: 2rem 5rem;
        border-radius: 5px;
    }
    #card-avatar {
        width: 1in;
        height: 1in;
    }
    #card-qr {
        width: .3in;
        height: .3in;
    }
</style>
</noscript>

<script>
    $(function() {
        // Add any additional JavaScript logic here
    })
</script>
